span(ng-switch="vm.trustClass")
  strong.text-danger(ng-switch-when="danger" translate-once="buyer_danger")
  strong.text-warning(ng-switch-when="warning" translate-once="buyer_warning")
  strong.text-success(ng-switch-when="safe" translate-once="buyer_safe")
