ul.pagination-sm(uib-pagination ng-show="vm.meta.total_pages > 1" items-per-page="vm.itemPerPage" total-items="vm.meta.total_items" ng-model="vm.currentPage" max-size="vm.maxSize" ng-change="vm.pageChanged()")
