.deposit-container {
  @media (max-width: 500px) {
    .text-field-name {
      display: none;
    }
  }

  .text-box .text-content {
    padding-left: 0;
    border: 1px solid #ccc;
  }

  .text-content > div{
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text-box .in-help {
    position: static!important;
    text-align: center!important;
  }

  .input-address {
    font-size: 12px;
    font-weight: bold;
    height: 36px;
    width: 100%;
    cursor: text;
  }
}

.img-qr-code {
  min-width: 250px;
  min-height: 250px;
}

.deposit-address {
  .qr {
    @include transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s);
  }

  &.changed {
    .qr {
      background-color: $brand-primary;
    }
  }
}

#form_receipt_uploader {
  margin-top: 15px;
}

.fiat-deposit-details {
  .alert {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
