react-fiat-wallet-withdrawal
/ .row
/   .col-lg-12
/     .withdrawal-container.text-center
/       h2 translate-once="withdraw_fiat_title" translate-values="{currency: vm.currency}"
/       .withdrawal-info-row
/         fiat-withdrawal-wizard
/       hr
/       fiat-withdrawal-list
